@import url("https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900");




.content {
  position: relative;
  vertical-align: bottom;
}

.content h2 {
  color: #fff;
  font-size: 4vw;
  position: absolute;
  transform: translate(5%, -70%);
  
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
}

.content h2:nth-child(2) {
  color: #ffffff;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}